body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #000;
    margin: 0px;
    background:#eeeeee;
}

h2 {
    
    padding-top: 80px;
	line-height: 20px;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
	color:#330000;
}

hr {
    
	height: 3px;
	width: 60px;
	text-align: center;
	position: relative;
	background: #0ea556;
	border: 0;
	margin: 10px auto 30px;
}

h3
{
    margin-top:240px;
    font-size:20px;
}

h4 
{
	font-size: 20px;
	color: #666;
}


#menu {
	padding: 4px;
    height: auto;
   
}

#menu.navbar-default {
    padding: 3px;
    background-color:#ffffff;
    border-color: transparent;
}

#menu.navbar-default .navbar-nav > li > a {
    margin-top:12px;
	color:#0ea556;
	font-size: 16px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
    color:#000;

}


.btn-success {
    margin-top: 17px;
    font-size: 14px;
    margin-left:7px; 
}

.navbar-toggle {
	border-radius:3px;
    background:#0ea556;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:#0ea556;
	border-color: #0dad8d;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#fff;
}

.header-slider
{
   	background:linear-gradient(
        rgba(20,20,20,.7),
        rgba(20,20,20,.7)),
        url(../img/headerpage.jpg); 
    background-size:cover;
    height:120px;
    margin-top:0px;
    
}

.btn-default {
	color:red;
	font-family: 'Open Sans', sans-serif;
    background-color:#ededed;
	border: 1px solid rgba(255,255,255,0.8);
	margin: 0 8px;
	padding: 10px 14px;
	font-size: 14px;
	transition: all 0.5s;
	border-radius: 4px;
}
.btn-success {
    float: left;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom:20px; 
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #fff;
	color: #0dad8d;
	border-color: #fff;
    
}


/*Form Section 
==============================*/
.mainform
{   
    margin-top:200px;
    background:#fff;
    height:auto;
    margin-bottom:10px;

}
.postmainform
{
    margin-top:160px;
    background:#fff;
    height:auto;
    margin-bottom:10px;
    
}
.loginform
{   
    width:500px;
    background:#fff;
    margin-top:40px;
    margin-bottom:30px;
   	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
    
	background-color: white !important;
	padding: 5px !important;
    
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.loginform h3
{
    margin-top:20px;
}
.loginform fieldset
{
    background:#eee;
    margin-bottom:20px;
    padding:10px 10px 0px;
    margin:10px 20px;
}
.loginform .btn-primary
{
    margin-bottom:10px;
    margin-left:40px;
    height:60px;
    width:330px;
    padding:0 auto;
    background:#0ea556;       
}

.loginform .btn-default
{
    background:#3b2415;
    color:#fff;
    margin-bottom:10px;
    margin-left:10px;
}
.loginform .btn-default:hover
{
    background:#3b2415;
    color:#fff;
    margin-bottom:10px;
}
.loginform p
{   
    font-size:16px;
    padding:10px;
}
   
.loginform .form-control {
    display: block;
    width: 80%;
    height:45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.postform h3
{
    margin-top:20px;
    color:#0ea556;
}

.postform .btn-default
{
    background:#3b2415;
    color:#fff;
    margin-bottom:10px;
    margin-left:20px;
}
.postform .btn-default:hover
{
    background:#3b2415;
    color:#fff;
    margin-bottom:10px;
    margin-left:20px;
}

.form-file{
    margin-bottom: 25px;
    margin-left: 20px;
}
.input-group
{
    margin-left:10px;
}

.label_design
{
    margin-left:10px;
}

legend h3
{
    margin-top: 100px;
    font-size:20px;
    margin-left: 20px;
}

.scrollup{
	width:50px;
	height:45px;
	font-size:30px;
	color:black;
	background:rgb(252,211,41);
	text-align:center;
	position:fixed;
	bottom:70px;
	right:0px;
}

.pull-left
{
    margin-left: 20px;
}

/* Restaurants Section 
==============================*/


.restaurant h2
{
    
    padding-top:65px;
	line-height:20px;
	font-size:25px;
	font-weight: 700;
	color:#330000;
    padding-bottom:25px;
}
.restaurant p
{
   padding:inherit;
}

.restaurant_image img
{
    height:65%;
    width:55%;
    margin-top:65px;
}

.restaurant .btn-success
{
    background-color:lightgray;
}
.restaurant_service_first
{
    margin-top:15px;
    background:#ffffff;
    height:850px;
}

.pagination 
{
   padding-left:678px;
}
.restaurant_coverphoto
{
    margin-top:200px;
    height:auto;  
}

.coverphoto img
{
    height:360px;
    width:1300px;
}

.profile-photo img {
    position: absolute;
   color: #f1f1f1;
   width:130px;
   height:160px;
   top:250px;
   margin-left:15px;
   border:4px solid #fff;
}

.profile-photo h5
{
color:#000;
margin-left:150px;
font-family: 'roboto_slabbold','googlenoto','Siyam Rupali','SolaimanLipi'; 
font-size:20px;
}


.image img
{
    margin-top:0px;
    height:100px;
    width:80px;
}
#restaurant_menu .container
{
    background-color:#ffffff;
    height:auto;
    margin-top:20px;
}

#restaurant_menu .list-inline {
    list-style-type: none;
    overflow: hidden;
    background-color:#ffffff;
    border-bottom:1px solid  #eeeeee;
    position:relative;
    padding:0;
 
}

#restaurant_menu .list-inline li {
    float: left;
    border-right:3px solid #eee;
}

#restaurant_menu .list-inline li:lastchild {
    border-right: none;
}

#restaurant_menu .container .list-inline li a {
    display: block;
    color:black;
    padding:14px 90px;
    text-decoration: none;
    text-transform: uppercase;
}


.list-inline li a:hover:not(.active) {
    background-color: #eee;
}

#restaurant_menu .container .list-inline ul li a:active
{
    background-color:yellow;
}

.restaurant_overview
{  margin-top:30px;
}
.restaurant_overview h5
{
    margin-left:10px;
    border-bottom:1px dotted gray;
}
.image-deal img
{
    height:80%;
    width:80%;
    margin-bottom:20px; 
}

.type
{
    padding-top:10px; 
}

.type h3
{
    color:gray;
    text-decoration:none;
    margin-top:10px;

}

.type h3:hover
{
    color:#1592d1;
}

.type ul li a:hover
{  
    text-decoration:none;
}
.menu-item
{
    background:#eeeeee;
    width:590px;
    margin-bottom:20px;
}
.menu-type h2
{   padding-top:23px; 
    font-size:20px;
    margin-bottom:15px;
   
}

.item 
{
    background:#fff;
    border:1px solid #fff;
    width:550px;
    height:180px;
    margin-bottom:15px;
    
}

.item  h3
{   margin-top:40px;
    font-size:18px; 
    color:#1592d1;
    padding:0;
    padding-left:10px;

}

.item a:hover
{   
    text-decoration:none;
}


.item h5
{
    color:#000;
    padding-left:12px;
    text-decoration:none;

}

.item h3:hover
{
    text-decoration:none;
}
.item h5:hover
{
    text-decoration:none;
}
.item .btn-default
{
    margin-top:15px;
    background:#3b2415;
    color:#fff;
    margin-bottom:20px;
}
.item .btn-default:hover
{
    margin-top:15px;
    background:#3b2415;
    color:#fff;
    margin-bottom:20px;
}
.item-image img
{
    margin-top:30px;
    height:70px;
    width:110px;
}

.main-profile
{
  background:#fff;
  height:auto;
  margin-top:200px; 
  margin-bottom:20px;
}
.main-profile h3
{
    margin-top:80px;
}


.profile h3
{
    margin-top:20px;
    font-size:20px;
    margin-bottom:20px;
}

.profile a:hover
{
    
    text-decoration:none;
}

.profile-detail
{
    border-left:1px solid gray;
    margin-top:80px;
    margin-bottom:30px; 
}

.profile-detail h4
{
    font-size:15px;
    color:#000;
}


.profile-image
{
    margin-top:50px;
}

.update-restaurant
{
    margin-top:80px;
}

.username h3
{
    color:#00a762;
    font-size:18px;
    margin-bottom:0px;
}


.username p
{
    color: #7c7c7c;
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
    margin-bottom:20px;
}
.user_review
{
    background:#ffffe6;
    padding:5px 10px;
    margin-bottom:25px;
}

.user_review h4
{

    color:#000;
    line-height:26.4px;
    margin-bottom:0px;
}

.user_review h3
{
    margin-top:0px;
    font-size:16px;
    color:gray;
    margin-bottom:0px;
}

.user_review p
{
    margin-top:0px;
    font-size:16px;
}
.btn-info
{
    margin-bottom:20px;
}



.order
{
    margin-top:200px;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray; 
    background:#fff;
    margin-bottom:20px;
}

.order img
{
    height:350px;
    margin-top:20px;
    margin-left:0 auto;
}

.order h5
{
    font-family: 'roboto_slabbold','googlenoto','Siyam Rupali','SolaimanLipi';
    margin-top:20px;
    color:#222211;
    font-weight: 500;
    line-height:1.1;
    font-size:20px;
}

.order p
{
    font-family: 'roboto_slabbold','googlenoto','Siyam Rupali','SolaimanLipi';
    color:#222211;
    font-weight: 500;
    line-height:1.1;
    font-size:15px;
}

.order .form-control
{
    width:45px;
    height:34px;
}
.order .btn-default
{
    background:lightgray;
    margin-right:292px;
    color:#222211;
    font-size:10px;
}


.order .btn-success
{
    background:#00a761;
    color:#fff;
    margin-top:20px;
}
.box-order
{
    border:1px solid #faebcc;
    width:290px;
    padding:15px 35px;
    margin-left:40px;
    margin-top:20px;
    color:#8a6d3b;
    background:#fcf8e3; 
    margin-bottom: 30px;
}

.quantity p
{   
    padding-left:100px;
    margin-left:335px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align:center;
    padding: 8px;
}

td
{
    color:#00a761;
}
th {
     background-color: #f2f2f2;
    color:black;
}

/*--footer start here--*/
#footer {
    	background:linear-gradient(
                     rgba(20,20,20, .9), 
                     rgba(20,20,20, .9)),
        url(../img/images.jpg);
    background-size: cover;
    padding: 20px 0;
    color:#fff;
    border-top: 6px solid #0ea556;
}
.ftr-grd a {
    color:#0ea556;
    text-decoration: none;
}
.ftr-grd h3 {
  font-size: 2em;
  color: #FFFFFF; 
  margin: 0em 0em 0.6em 0em;  
  padding-left:30px;
  font-family:'Viga-Regular';
}
.ftr-grd p {
  font-size: 0.95em;
  font-weight: 300;
  color: #A0A0A0;
  line-height: 1.5em;
  padding-top: 0px;
  padding-left:30px; 
}

.ftr-grd ul {
  padding: 0em;
  list-style: none;
}

.ftr-grd ul li{
  display:inline-block;
}


.copy-right {
  text-align: center;
  padding: 1em 0em 0em 0em;
  margin-bottom: 0;
}
.copy-right p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin:0;
}
.copy-right p a {
  color: #0ea556;
}
.copy-right p a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}
